
@keyframes flip {
    from{
        transform:rotateX(odeg);
        /* background-color: rgba(0, 0, 0,0); */
    }
    to{
      transform: rotateX(180deg); 
      /* background-color: rgba(0, 0, 0,0.9); */
    }

}






body{
    background-image: url(christmaspics/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0,0.7);
    background-blend-mode: overlay;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.game-title{
    background-color: rgb(65, 63, 199);
    color: white;
    margin: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;;
}

.card-container{
    background-color: rgb(112, 112, 233);
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.section1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.card-image{
    height: 15vh;
    width: 15vw;
   
}

.image1{
    background-image: url(christmaspics/chr.jpeg);
}
.image2{
    background-image: url(christmaspics/chr1.jpeg);

}
.image3{
    background-image: url(christmaspics/chr3.jpeg);

}
.image4{
    background-image: url(christmaspics/chr4.jpeg);
}
.image5{
    background-image: url(christmaspics/chr2.jpeg);
}
.image6{
    background-image: url(christmaspics/chr6.jpeg);
}
.image7{
    background-image: url(christmaspics/chr7.jpeg);
}
.image8{
    background-image: url(christmaspics/chr8.jpeg);
}
.options p{
    height: 70px;
    width: 300px;
    color: beige;
    background-color: grey;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.options{
    display: flex;
    justify-content:space-between;
    width: 700px;
}

.flip-card{
    animation-name: flip;
    animation-duration: 0.5s; 
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    background-image: url(christmaspics/backgroundCARD.jpg);}